---
layout: default
---

<div class="home">

<h1>latest from #StackCode</h1>

<ul class="post-list">
 {% for post in site.posts limit: 10 %}
      <li class="post">
        <a class="post-meta" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
        {% include stackcode-tweet.html tweet=post %}
        {{ post.content }}
        <p class="tags">
            {% include tags.html tags=post.tags %}
        </p>
      </li>
  {% endfor %}
</ul>
 
 <a href="{{site.baseurl}}/all">see all of #StackCode</a>

</div>
